<div class="cover">
  <div><%= image_tag(cover.image_url(:thumb)) if cover.image? %></div>
  <div class="title"><%= link_to cover.title, cover_path(cover) %></div>
  <div class="subtitle"><%= cover.subtitle %></div>
  <div><%=l cover.created_at %></div>
  <div class="actions">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_cover_path(cover), :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                cover_path(cover),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
  </div>
</div>
