<%= form_for @cover, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subtitle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subtitle, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
      <%= f.label :image, :class => 'control-label' %>
      <div class="controls">
        <%= image_tag(@cover.image_url(:thumb)) if @cover.image? %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), covers_path, :class => 'btn' %>
  </div>
<% end %>
