<%- model_class = Cover -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div id="covers">
  <%= render @covers %>
</div>      
<div class="clear"></div>      

<%= form_for Cover.new do |f| %>
  <%= f.label :image, "Upload images", :class => 'btn btn-primary' %>
  <%= f.file_field :image, multiple: true, name: "cover[image]" %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>