<%- model_class = Cover -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div id="covers">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:image) %></th>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:subtitle) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @covers.each do |cover| %>
        <tr>
          <td><%= image_tag(cover.image_url(:thumb)) if cover.image? %></td>
          <td><%= link_to cover.title, cover_path(cover) %></td>
          <td><%= cover.subtitle %></td>
          <td><%=l cover.created_at %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_cover_path(cover), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        cover_path(cover),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
<div class="clear"></div>
<%= link_to t('.new', :default => t("helpers.links.new")), new_cover_path, :class => 'btn btn-primary' %>

<%= form_for Cover.new do |f| %>
  <%= f.label :image, "Upload images" %>
  <%= f.file_field :image, multiple: true, name: "cover[image]" %>
<% end %>
